.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-size: 24px;
    font-weight: 700;
    color: #4c4d4dfa;
}
.active {
    composes: link;
    color: rgb(6, 104, 184);
}