.label {
font-size: 20px;
font-weight: 500;
}
.input {
display: block;
width: 100%;
margin-bottom: 20px;
padding: 0.375rem 0.75rem;
height: calc(2.25rem + 2px);
color: #212529;
border: 1px solid #bdbdbd;
border-radius: 0.25rem;
}
.btn {
font-family: inherit;
font-size: 24px;
font-weight: 700;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 25px;
padding-right: 25px;    
color:   rgb(72, 4, 57);
background-color: rgb(234, 234, 234);
border: none;
border-radius: 4px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
cursor: pointer;
}
.btn:focus,
.btn:hover {
background-color: rgb(155, 204, 195);
}
.icon { 
fill:  rgb(125, 185, 174)
}
.btn_icon {
fill:rgb(72, 4, 57);
margin-right: 8px;
}